#div1{
	height: 150px;
	width: 100%;
	background-color: darkgray;
	margin: -8px;
	padding: 10px;
	text-align: center;
}
#div1 h2{
	font-size: 40px;
	margin: 20px;
}
#div1 input{
	height: 35px;
	width: 40%;
	font-size: 20px;
	border: none;
	border-radius: 5px;
}
.addBtn{
	padding: 11px;
	background-color: #d9d9d9;
	margin-left: -4px;
	text-align: center;
  	cursor: pointer;
  	transition: 0.3s;
  	border-radius: 5px;	
}
.addBtn:hover{
	background-color: lightgrey;
}
ul{
	margin: 5px;
	padding: 10px;
	background-color: #000;
	margin-left: -8px;
	margin-right: -8px;
}
ul li{
	cursor: pointer;
  position: relative;
  padding: 15px 20px 15px 50px;
  list-style-type: none;
  background: #eee;
  font-size: 20px;
  transition: 0.2s;
}
ul li:nth-child(odd){
	background: #f9f9f9;
}
ul li:hover{
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 20px;
  width: 10px;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 16px 12px 16px;
}
.close:hover {
  background-color: darkgrey;
  color: white;
}




